.main-form{
  margin-top: 50px;
  display: flex;
  width: 100%;
  justify-content: center;
}
.form-wrapper{
  display: flex;
  justify-content: center;
  max-width: 55%;
  flex-basis: 100%;
  background-color: #4791C2;
  border-radius: 10px;
}
.form{
  margin: 50px 0;

  max-width: 400px;
  flex-basis: 100%;
}
.form div{
  display: flex;
  justify-content: space-between;
  margin: 20px 20px;
  height: 50px;
  align-items: center;
  max-width: 100%;
  flex-basis: 100%;
}
.form label{
  margin-right: 20px;
}
.form input{
  width: 200px;
  height: 30px;
  background-color: #4791C2;
  border: 1px solid #C7DFF7;
  border-radius: 10px;
  color: white;
  outline: none;
  font-family: "roboto",sans-serif;

}
.form select{
  outline: none;
  width: 200px;
  height: 30px;
  background-color: #4791C2;
  border: 1px solid #C7DFF7;
  border-radius: 10px;
  color: white;
  font-family: "roboto",sans-serif;
}
.form .form-button{
  display: flex;
  justify-content: center;
}
.form input[type="submit"]{
  outline: none;
  margin-top: 30px;
  height: 50px;
  color: white;
  font-family: "roboto",sans-serif;
  font-size: 24px;
}
.form input[type="submit"]:hover{
  cursor: pointer;
}
