.main-wrapper{
  max-width: 55%;
  flex-basis: 100%;
  background-color: #4791C2;
  border-radius: 10px;
}
.main-about{
  margin-top: 50px;
  display: flex;
  width: 100%;
  justify-content: center;
}
.main-about h2{
  margin: 30px 50px;
  font-family: 'Roboto',sans-serif;
  font-size: 30px;
}
.main-wrapper section{
  display: flex;
  height: 200px;
  justify-content: space-between;
  margin: 30px 50px;
}
.main-wrapper section p{
  padding: 20px;
  width:50%;
  background-color: #94CBF2;
  border-radius: 10px;

}
.main-wrapper section img{
  height: 100%;
}
